
@import "@/scss/Variables.scss";

body {
  margin: 0;
  padding: 0;
  background: $bg-primary;
}

a, p, span, svg, div, img, input, button {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                              supported by Chrome and Opera */
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  #reaperwrb-json {
    display: none;
  }
  
  .app-container {
    display: grid;
    grid-template-rows: 1fr;
  }
}

@import "@/scss/Animations.scss";
@import "@/scss/Editor.scss";
@import "@/scss/EditorColorPicker.scss";
@import "@/scss/EditorIconPicker.scss";
@import "@/scss/View.scss";
