.vc-slider {
  width: inherit !important;
  padding: .35vw;
  margin: 1.5vh 0;
}
.vc-compact {
  padding: 1vw;
  background: none !important;
  box-shadow: none !important;
  width: inherit !important;
  padding: .15vw !important;
}

.vc-grayscale-colors {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 0.2vw;
  text-align: left; 
}

.vc-compact-colors {
  display: grid;
  row-gap: 0.2vw;
  grid-template-columns: repeat(12, 1fr);
}
.vc-grayscale-color-item,
.vc-compact-color-item {
  height: 1.5vw !important;
  width: 1.5vw !important;
  margin: 0!important;
  padding: 0!important;
}

.app-text-color-picker {
  width: inherit;
}
.vc-grayscale {
  width: inherit !important;
  box-shadow: none !important;
  background: none !important;
  margin: 0;
  padding: .25vw;
  background: $c-editor-primary !important;
}