.vc-slider {
  width: inherit !important;
  background: $bg-editor-input;
  border-radius: 2px;
  padding: 5px;
  margin: 11px 0 22px 0;
}
.vc-compact {
  padding: 1vh;
  background: $bg-editor-input !important;
  width: inherit !important;
}
.vc-compact-color-item,
.vc-grayscale-color-item {
  width: 3.2vh !important;
  height: 2vh !important;
  margin: .25vh !important;
}

.app-text-color-picker {
  width: inherit;
}
.vc-grayscale {
  width: inherit !important;
  background: none;
  margin: 0;
  padding: 5px;
  background: $bg-editor-input !important;
}