.iconpicker-container {
  margin: 2vh 0 2vh 0;
  width: 20vw;

  .iconpicker-search {
    border-radius: 3px;
    padding-left: 1vh;
    width: 100% !important;
    margin-bottom: 1vh; 
    border: 1px solid $bg-editor-alt;
  }

  .iconpicker-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 20vh;
    width: 100% !important;
    overflow-y: scroll;
    overflow-x: hidden;
    background: $bg-primary;
    border-radius: $g-border-radius;
  }
  
  .iconpicker-item {
    cursor: pointer;
    height: 5.9vh;
    width: 5.9vh;
    margin: 0.25vh;
    line-height: 50px;
    border-radius: 2px;
    opacity: 0.7;
    font-size: 3.5vh;
    text-align: center;
    line-height: 6vh;
  }
  .iconpicker-item * {
    color: $c-editor-primary !important;
  }
  .iconpicker-item:hover {
    background: $bg-editor-input;
    opacity: 1;
  }
  .iconpicker-item:hover * {
    color: $c-editor-alt !important;
  }
}