.app-icon-picker {
  padding: 0 0 1vw 0;
  
  .app-icon-picker-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 10vw;
    overflow-y: scroll;
    background: $bg-primary;
    
    .app-icon-picker-item {
      display: flex;
      font-size: 200%;
      justify-content: center;
      cursor: pointer;
      border-radius: $g-border-radius;
      * { margin: 1vw auto; }
    }
    
    .app-icon-picker-item:hover {
      background: $c-editor-primary;
      color: $bg-primary;
    }
  }
}