.app-item-icon-preview-container {
  border-radius: $g-border-radius;
  background: $c-editor-primary;
}

.app-item-icon-preview {
  display: grid;
  grid-template-columns: 1fr;
  
  .app-item-icon-preview-menu {
    display: flex;
  }
  
  .app-item-icon {
    height: 3.25vw;
    width: 3.25vw;
    border-radius: $g-border-radius;
    display: flex;
    margin-right: 0.5vw;
    svg {
      margin: auto;
    }
  }
}

.app-icon-picker {
  padding: 0 0 .5vw 0;
  input { margin: 0.3vw 0 0 0 !important; }
  display: grid;

  .app-icon-picker-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 3vw);
    height: calc(3*3vw);
    overflow-y: scroll;
    background: white;
    border-radius: $g-border-radius;
    border: .3vh solid $bg-editor-alt;
    
    .app-icon-picker-item {
      display: flex;
      cursor: pointer;
      border-radius: $g-border-radius;
      height: 3vw;
      width: 3vw;
      margin: auto;
      svg { 
        color: $c-editor-alt;
        margin: auto;
        height: 50% !important;
        width: 50% !important;
      }

    }

    .app-icon-picker-item:hover {
      background: $c-editor-alt;
      svg {
        color: $c-editor-primary !important;
      }
    }
  }
}