@import "@/scss/purecss/_buttons.scss";
@import "@/scss/purecss/_forms.scss";
@import "@/scss/EditorSlider.scss";
@import "@/scss/EditorButtons.scss";

.app-container-editor {
  grid-template-columns: $g-editor-view-width auto;
}

.app-editor {
  height: 100vh;
  overflow-y: hidden;
  background: $c-editor-primary;

  .app-editor-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .app-editor-panel {
    margin: 0 .5vw;

    .app-editor-sub-panel {
      display: grid;
      grid-template-columns: 0.35fr auto;
    }
  }

  .app-editor-menu {
    padding: 0.5vw 0 0 0;
    grid-column-end: span 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0.3vw;
    row-gap: 0.15vw;
  }

  .app-editor-bulk-menu {
    height: $g-editor-item-edit-button-height;
  }

  .app-editor-input-action-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 0.4vw;
  }

  .app-editor-input-action-search-result { 
    position: absolute;
    margin: 0.5vw 0;
    height: 0;
    z-index: 1000;
    width: 21.5vw;
    
    ul {
      height: 35vw;
      background: $bg-editor;
      list-style: none;
      padding: 0;
      margin: 0;
      overflow-y: scroll;
      border-radius: $g-border-radius;
      
      li {
        border-radius: $g-border-radius;
        padding: .5vw;
        line-height: 1.25vw;
        margin: 0.25vw 0.25vw 0.25vw 0;
        cursor: pointer;
        color: $bg-primary;
        background: white !important;
        border: 1px solid $bg-editor-alt;
        opacity: 0.7;
      }

      li:hover {
        opacity: 1;
      }
    }
  }

  label {
    text-shadow: 3px 3px 6px #b9b9b9;
    display: flex;
    margin: 1vh 0;
    font-weight: bold;
    background: $bg-editor-alt !important;
    padding: .25vw;
    border-radius: $g-border-radius;
    svg {
      margin: 0 0.25vw 0 0;
    }
  }

  input, select {
    font-size: 1em;
  }

  input[type=text] {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    display: block;
    margin: 0;
    width: 100%;
    padding: .5vw 0.5vw 0.35vw 0.5vw;
    border: .3vh solid $bg-editor-alt;
  }

  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 1vw $c-editor-button-okay;
    border: .3vh solid $c-editor-button-okay;
  }

  .app-item-desc {
    background-color: white;
    color: $bg-primary;
    border-radius: $g-border-radius;
    div {
      padding: 0.25vw 0;
      margin: 0.5vw;
      line-height: 1.25vw;
    }
  }

}

input[type=checkbox] {
  cursor: pointer;
  margin: 0.5vw 0.5vw;
}

@media (min-width: 1440px) {
  input[type=checkbox] {
    cursor: pointer;
    transform: scale(2);
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
  }
}

/* layout */
::-webkit-scrollbar {
  width: 1.25vh;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5vh rgb(68, 68, 68); 
  -webkit-box-shadow: inset 0 0 0.5vh rgb(68, 68, 68); 
  border-radius: $g-border-radius;
  background: $bg-editor;
}

/* UTILITIES */

.hidden { display: none !important; }

.sortable-ghost {
  opacity: 0.7;
  .app-item-edit-buttons {
    display: none;
  }
}

.sortable-drag {
  cursor: move !important;
  box-shadow: none !important;
  .app-item-edit-buttons {
    display: none;
  }
}

.app-tab-navigation .sortable-ghost {
  display: none;
}

.app-active-row {
  animation: blinker 1s linear infinite;
  background: $bg-primary !important;
  opacity: 1  !important;
}

.app-highlight-edit[class*="app-item"],
.app-highlight-edit[class*="app-tab-navigation-item"] {
  box-shadow: inset 0 0 1vh $c-editor-hl-edit, inset 0 0 1vh $c-editor-hl-edit, inset 0 0 1vh $c-editor-hl-edit, inset 0 0 1vh $c-editor-hl-edit !important;
}

.app-highlight-delete[class*="app-item"],
.app-highlight-delete[class*="app-tab"] {
  animation: blinker 1s linear infinite;
  background: $bg-editor-hl-delete !important;
  opacity: 1  !important;
}

.app-highlight-delete[class*="app-row"] * {
  animation: blinker 1s linear infinite;
  background: $bg-editor-hl-delete !important;
}

.app-editor-webremote-title {
  width: 100%;
  height: 50%;
  grid-row-start: 2;
  grid-column-start: span 2;
}

.app-editor-menu-help {
  grid-row-start: 3;
  grid-column-start: span 4;
  margin: 2vh 0;
  p { 
    padding: 0 .5vw;
    line-height: 150%;
  }
}

.blur {
  opacity: 0.2;
}