/* STARTUP */
@media (orientation: landscape) {
  .logo,
  .app-preset-container,
  .app-button-launch-editor button,
  .app-button-load-default button {
    border-radius: $g-border-radius;
    margin: 0.1vw;
    width: 12.3vw;
    height: 12.3vw;
  }
}