$bg-primary: #171717;

$g-editor-view-width: 55vw;
$g-editor-panel-width: 44.5vw;

$g-border-radius: 3px;

$g-editor-item-edit-button-height: 3vh;
$g-editor-line-height: 3vh;
$g-opacity-inactive: 0.4;

$g-item-margin: 0.2em;

$g-nav-item-height-landscape: calc(100vw / 22.5);
$g-nav-item-height-portrait: calc(100vw / 13);

$bg-editor: #f0f0f0;
$bg-editor-input: #ffffff;
$bg-editor-alt: #e9e9e9;
$bg-editor-hl-delete: #cdcdcd;

$c-editor-border: #222222;
$c-editor-primary: #f0f0f0;
$c-editor-alt: #a1a1a1;
$c-editor-hl-edit: #f0f0f0;

$c-editor-button-warning: #d40000;
$c-editor-button-okay: #0078e7;
$c-editor-button-secondary: #42b8dd;


