$bg-primary: #171717;
$bg-editor-input: #f0f0f0;
$bg-editor-alt: #191919;
$c-editor-border: #222222;
$c-editor-primary: #f0f0f0;
$c-editor-alt: #a1a1a1;
$bg-editor-hl-delete: #cdcdcd;
$c-editor-hl-edit: #f0f0f0;
$g-border-radius: 3px;
$g-editor-item-edit-button-height: 3vh;
$g-editor-line-height: 3vh;
$g-opacity-inactive: 0.5;
$g-editor-edit-buttons-margin: 0.3vh;
$g-item-margin-landscape: 0.15vw;
$g-item-margin-portrait: 0.15vh;
$g-item-height-landscape: calc(100vw / 14);
$g-nav-item-height-landscape: calc(100vw / 28);
$g-item-height-portrait: calc(100vw / 7.5);
$g-nav-item-height-portrait: calc(100vw / 15);
$g-editor-view-width: 55vw;
$g-editor-panel-width: 45vw;
$c-help-button-new: #F4F7FC;
$c-help-button-example: #42b8dd;
$c-help-button-html: #FCC400;
$c-help-button-toolbar: #cdcdcd;
$c-editor-button-warning: #FCC400;
$c-editor-button-okay: #0078e7;
$c-editor-button-secondary: #42b8dd;

%editor-dialog-shared {
  position: absolute;
  top: 0;
  left: $g-editor-view-width; 
  bottom: 0;
  width: $g-editor-panel-width;
  z-index: 1000;
  padding-top: 20px;
}