$bg-primary: #0f0f0f;
$bg-editor-input: #f0f0f0;
$bg-editor-alt: #191919;
$c-editor-border: #222222;
$c-editor-primary: #f0f0f0;
$c-editor-alt: #424242;
$bg-editor-hl-delete: #cdcdcd;
$c-editor-hl-edit: #f0f0f0;
$g-border-radius: 3px;
$g-tab-navigation-item-line-height: 3vh;
$g-editor-item-edit-button-height: 3vh;
$g-editor-line-height: 3vh;
$g-opacity-inactive: 0.5;
$g-editor-edit-buttons-margin: 0.3vh;
$g-item-margin-landscape: 0.15vw;
$g-item-margin-portrait: 0.15vh;
$g-item-height-landscape: calc(100vw / 14);
$g-item-height-portrait: calc(100vw / 7.5);
$g-editor-view-width: 1024px;

%editor-dialog-shared {
  position: absolute;
  top: 0;
  left: 1024px;
  right: 0;
  bottom: 0;
  width: inherit;
  z-index: 1000;
  padding-top: 20px;
}