@media (orientation: landscape) {

  .app-row,
  .app-tab-navigation {
    display: grid;
    column-gap: $g-item-margin;
    row-gap: $g-item-margin;
    margin: $g-item-margin;
  }

  .app-tab-navigation-item {
    line-height: $g-nav-item-height-landscape;
    max-height: $g-nav-item-height-landscape;
    overflow: hidden;
  }

  .app-tab-navigation-special {
    column-gap: $g-item-margin;
  }

  .app-item-markers-info *,
  .app-item-regions-info * {
    font-size: 2em;
    width: 9vw !important;
  }

  .app-item-position-info {
    font-size: 6em;
  }
}