@media (orientation: landscape) {
  .app-tab-navigation-item {
    overflow: hidden;
  }

  .app-item-markers-info *,
  .app-item-regions-info * {
    font-size: 2em;
    width: 9vw !important;
  }

  .app-item-position-info {
    font-size: 4em;
  }
}