.app-view {
  width: 100%;
}

.app-view-scroll {
  height: 100vh;
  overflow-y: scroll;
}

.font-bold {
  font-weight: bold;
}

.font-2x {
  font-size: 200%;
}

.app-button-launch-editor {
  display: none;
}

@media (orientation: landscape) and (min-width: 1024px) {
  .app-button-launch-editor {
    display: block;
  }
}

.app-item,
.app-tab-navigation-item {
  border-radius: $g-border-radius;
  cursor: pointer;
}

.app-tab-navigation-item {
  opacity: $g-opacity-inactive;
  
  .app-item-label {
    margin: auto 1vw;
  }
}

.app-tab-navigation-item-active {
  opacity: 1;
}

.app-tab-navigation-special {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  opacity: 1;
  
  div {
    background: $c-editor-button-okay;
    border-radius: $g-border-radius;
    color: $c-editor-primary;
    opacity: 0.95;
    svg {
      margin: 0;
      height: 35% !important;
      width: 35% !important;
    }
  }
  div:hover {
    opacity: 1;
  }
}

.app-item-container {
  display: grid;
  height: 100%;
}

.app-item-action-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.app-item-label {
  display: block;
  width: 100%;
  margin: auto;
  justify-self: flex-end;

  span { 
    margin: auto 0.1vw;
    display: block; 
    text-align: center;
  }
}

/* ACTION */
.app-item-action:active {
  box-shadow: inset 0 0 20px #0f0f0f;
}

.app-item-action-toggled {
  box-shadow: inset 0 0 20px #0f0f0f;
}

/* TRANSPORT */
.app-item-transport {
  display: flex;
  flex-direction: column;
}

.app-item-transport-container {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  a {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
  }

  a:active {
    opacity: 1;
  }
}

/* POSITION */
.app-item-position-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  .app-item-position-mode {
    width: 0;
    height: 0;
    span {
      position: relative;
      top: .5vh;
      left: .5vw;
    }
  }
  .app-item-position-info {
    margin: auto;
  }
}

/* MARKERS & REGIONS */
.app-item-markers-nav,
.app-item-regions-nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.app-item-markers-icon {

}

.app-item-markers-info,
.app-item-markers-icon,
.app-item-regions-info,
.app-item-regions-icon {
  margin: auto;
}

.app-item-markers-info,
.app-item-regions-info {
  width: 100%;
  overflow-x: hidden;
}

.app-item-markers-info *,
.app-item-regions-info * {
  margin: .25vw 0.5vw;
  display: block;
  white-space: nowrap;
}

/* ICONS */
.app-item-action-icon {
  grid-row-end: span 2;
  opacity: 0.8;
  height: 3vw;
}

.app-item-markers-icon,
.app-item-regions-icon,
.app-item-transport-icon {
  display: flex;
  width: 100%;
  height: 100%;
  svg { 
    opacity: 0.8; 
    height: 50% !important;
    width: 50% !important; 
    margin: auto;
  }
}

.app-item-action:active .app-item-action-icon,
.app-item-action-toggled .app-item-action-icon {
  opacity: 1;
}

.app-item-markers-icon:active,
.app-item-regions-icon:active,
.app-item-transport-icon:active {
  * { opacity: 1; }
}

/* recommended css code for vue-svgicon */
.svg-icon {
  display: inline-block;
  color: inherit;
  width: inherit;
  height: inherit;
  vertical-align: middle;
  fill: currentColor;
  stroke: none;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  /* default */
  transform: rotate(0deg);
}

.svg-right {
  transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}