@media (orientation: portrait) {
  .app-tab-navigation__item {
    overflow: hidden;
  }

  .app-item__markers-info *,
  .app-item__regions-info * {
    font-size: 1.5em;
    width: 9vh !important;
  }

  .app-item__position-info {
    font-size: 4em;
  }
}