.app-view {
  width: 100%;
  background: $bg-primary;
  display: table;
}

.app-view-scroll {
  height: 100vh;
  overflow-y: scroll;
  font-size: 75%;
}

.font-bold {
  font-weight: bold;
}

.app.row,
.app-tab-navigation {
  display: grid;
  display: table-row;
  width: 100%;
}

.app-item,
.app-tab-navigation-item {
  display: inline-block;
  float: left;
  border-radius: $g-border-radius;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px $bg-primary;
}

.app-tab-navigation-item {
  opacity: $g-opacity-inactive;
  overflow-x: hidden;
  
  .app-item-label {
    margin: 0 0 0 0.5vw;
    height: inherit;
  }
}

.app-tab-navigation-item-active {
  opacity: 1;
}

/* Home Buttons */
.app-tab-navigation-menu {
  opacity: 0.9;
  a {
    background: $c-editor-button-okay;
    display: block;
    color: $bg-editor;
    text-align: center;
    float: left;
    width: 50%;
    box-shadow: inset 0 0 0 2px $bg-primary;
    border-radius: $g-border-radius;
  }
}

.app-item-container {
  display: grid;
  height: 100%;
}

.app-item-action-container {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 100%;
  overflow: hidden !important;
}

.app-item-label {
  width: 100%;
  margin: 0;
  display: flex;
  text-align: center;
  
  span {
    margin: auto;
    text-align: center;
    overflow: clip;
  }
}

/* ACTION */
.app-item-action:active {
  box-shadow: inset 0 0 20px #0f0f0f;
}

.app-item-action-toggled {
  box-shadow: inset 0 0 20px #0f0f0f;
}

/* TRANSPORT */
.app-item-transport {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.app-item-transport-container {
  justify-self: center;
  display: block;
  display: flex;
  height: inherit;
  a {
    float: left;
    display: flex;
    width: 20%;
    svg {
      display: block;
      margin: auto;
    }
  }

  a:active {
    opacity: 1;
  }
}

/* POSITION */
.app-item-position-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  .app-item-position-mode {
    width: 0;
    height: 0;
    span {
      position: relative;
      top: .5vh;
      left: .5vw;
    }
  }
  .app-item-position-info {
    margin: auto;
  }
}

/* MARKERS & REGIONS */
.app-item-markers-nav,
.app-item-regions-nav {
  display: flex;
  height: 100%;
  // display: grid;
  // grid-template-columns: 1fr 2fr 1fr 1fr;
}

.app-item-markers-icon,
.app-item-regions-icon {
  height: inherit;
  width: 25%;
}

.app-item-markers-info,
.app-item-regions-info {
  overflow: hidden !important;
  margin: auto 0;
  line-height: 2em;
}

.app-item-markers-info *,
.app-item-regions-info * {
  white-space: nowrap;
}

/* ICONS */
.app-item-action-icon {
  opacity: 0.8;
  display: flex;
  svg {
    margin: auto;
  }
}

.app-item-markers-icon,
.app-item-regions-icon,
.app-item-transport-icon {
  display: flex;
  svg { 
    opacity: 0.8; 
    margin: auto;
  }
}

.app-item-action:active .app-item-action-icon,
.app-item-action-toggled .app-item-action-icon {
  opacity: 1;
}

.app-item-markers-icon:active,
.app-item-regions-icon:active,
.app-item-transport-icon:active {
  * { opacity: 1; }
}

/* recommended css code for vue-svgicon */
.svg-icon {
  display: inline-block;
  color: inherit;
  width: inherit;
  height: inherit;
  vertical-align: middle;
  fill: currentColor;
  stroke: none;
  // display: none;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  /* default */
  transform: rotate(0deg);
}

.svg-right {
  transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}

.font-xxxl {
  font-size: 7em;
}
.font-xxl {
  font-size: 3.5em;
}
.font-xl {
  font-size: 2em;
}
.font-l {
  width: 100% !important;
}