.app-view {
  width: 100%;
  background: $bg-primary;
}

.app-view--scroll {
  height: 100vh;
  overflow-y: scroll;
  font-size: 75%;
}

.font-bold {
  font-weight: bold;
}

.app-row,
.app-tab-navigation {
  display: table-row;
  display: grid;
  width: 100%;
}

.app-item,
.app-tab-navigation__item {
  float: left;
  border-radius: $g-border-radius;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px $bg-primary;
}

.app-tab-navigation__item {
  opacity: $g-opacity-inactive;
  overflow-x: hidden;
  
  .app-item__label {
    margin: 0 0 0 8px;
    height: inherit;
    text-align: left;
  }
}

.app-tab-navigation__item--active {
  opacity: 1;
}

/* Home Buttons */
.app-tab-navigation__menu {
  opacity: 0.9;
  a {
    background: $c-editor-button-okay;
    display: block;
    color: $bg-editor;
    text-align: center;
    float: left;
    width: 50%;
    box-shadow: inset 0 0 0 2px $bg-primary;
    border-radius: $g-border-radius;
  }
}

.app-item__container {
  display: grid;
  height: 100%;
}

.app-item__action__container {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 100%;
  overflow: hidden !important;
}

.app-item__label {
  width: 100%;
  margin: 0;
  display: flex;
  text-align: center;
  
  span {
    margin: auto;
    text-align: center;
    overflow: clip;
  }
}

/* ACTION */
.app-item__action:active {
  box-shadow: inset 0 0 20px #0f0f0f;
}

.app-item__action--toggled {
  box-shadow: inset 0 0 20px #0f0f0f;
}

/* TRANSPORT */
.app-item__transport {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.app-item__transport-container {
  justify-self: center;
  display: block;
  display: flex;
  height: inherit;
  a {
    float: left;
    display: flex;
    width: 20%;
    svg {
      display: block;
      margin: auto;
    }
  }

  a:active {
    opacity: 1;
  }
}

/* POSITION */
.app-item__position-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  .app-item__position-mode {
    width: 0;
    height: 0;
    span {
      position: relative;
      top: .5vh;
      left: .5vw;
    }
  }
  .app-item__position-info {
    margin: auto;
  }
}

/* MARKERS & REGIONS */
.app-item__markers-nav,
.app-item__regions-nav {
  display: flex;
  height: 100%;
}

.app-item__markers-icon,
.app-item__regions-icon {
  height: inherit;
  width: 25%;
}

.app-item__markers-info,
.app-item__regions-info {
  overflow: hidden !important;
  line-height: 2em;
  height: inherit;
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
}

.app-item__markers-info *,
.app-item__regions-info * {
  white-space: nowrap;
  margin: auto 0;
}

/* ICONS */
.app-item__action-icon {
  opacity: 0.8;
  display: flex;
  svg {
    margin: auto;
  }
}

.app-item__markers-icon,
.app-item__regions-icon,
.app-item__transport-icon {
  display: flex;
  svg { 
    opacity: 0.8; 
    margin: auto;
  }
}

.app-item__action:active .app-item__action-icon,
.app-item__action--toggled .app-item__action-icon {
  opacity: 1;
}

.app-item__markers-icon:active,
.app-item__regions-icon:active,
.app-item__transport-icon:active {
  * { opacity: 1; }
}

.app-item__tracks-util-container {
  display: flex;
  flex-wrap: wrap;

  .app-item__tracks-util-info {
    height: 0;
    width: 100%;
    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      top: .5vh;
      span {
        margin: 0 .5vh;
        width: 33.3%;
      }
    }
  }

  .app-item__tracks-util-buttons {
    display: flex;
    width: 100%;
  }
  
  a {
    display: flex;
    text-align: center;
    margin: auto;
    opacity: 0.8;
    width: 100%;
  }

  a:active {
    opacity: 1;
  }
  
  a svg {
    margin: auto !important;
  }

}

/* recommended css code for vue-svgicon */
.svg-icon {
  display: inline-block;
  color: inherit;
  width: inherit;
  height: inherit;
  vertical-align: middle;
  fill: currentColor;
  stroke: none;
  // display: none;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  /* default */
  transform: rotate(0deg);
}

.svg-right {
  transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}

.font-xxxl {
  font-size: 7em;
}
.font-xxl {
  font-size: 3.5em;
}
.font-xl {
  font-size: 2em;
}
.font-l {
  width: 100% !important;
}