@media (orientation: portrait) {

  .app-row,
  .app-tab-navigation {
    display: grid;
    column-gap: $g-item-margin-portrait;
    row-gap: $g-item-margin-portrait;
    margin: $g-item-margin-portrait;
  }

  .app-tab-navigation-item {
    line-height: $g-nav-item-height-portrait;
    max-height: $g-nav-item-height-portrait;
    overflow: hidden;
  }

  .app-tab-navigation-special {
    column-gap: $g-item-margin-portrait;
  }

  .app-item-markers-info *,
  .app-item-regions-info * {
    font-size: 1.5em;
    width: 9vh !important;
  }

  .app-item-position-info {
    font-size: 6em;
  }

  .font-xxxl {
    font-size: 8em;
  }
  .font-xxl {
    font-size: 4em;
  }
  .font-xl {
    font-size: 2.5em;
  }
  .font-l {
    font-size: 1.5em;
  }
}